@using ProductManager.Models
@model Product

<h1>Edit Product</h1>
@using (Html.BeginForm()) {
    @Html.HiddenFor(p => p.ID)
    <table>
        <tr>
            <td>@Html.LabelFor(p => p.Name)</td>
            <td>@Html.TextBoxFor(p => p.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Price)</td>
            <td>@Html.TextBoxFor(p => p.Price)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Type)</td>
            <td>
                @Html.DropDownListFor(p => p.TypeID,
               new SelectList(DataSource.GetProductTypes(), "ID", "Name"))
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update" /></td>
        </tr>
    </table>
}